body {
    height: 100vh;
}

.box-left,
.box-right,
button#nav-home-tab,
button#nav-profile-tab {
    width: 50%;
}

.form-select {
    width: 90% !important;
}

.form-select {
    width: 90%;
}

textarea#msm_send {
    width: 100%;
}